@font-face {
    font-family: 'u.s._101regular';
    src: url('us101-webfont.woff2') format('woff2'),
        url('us101-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    font-family: Helvetica, Arial, sans-serif;
    --main-bg-color: black;
    --helper-text: rgb(80, 80, 80);
}

.logo {
    font-family: "u.s._101regular", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-container,
.logo-container,
body {
    display: flex;
}

.main-container {
    flex-direction: column;
}

.logo-container {
    max-width: 25vw;
    overflow: hidden;
}

form {
    display: flex;
}

form div {
    display: flex;
    flex-direction: column;
    max-width: calc(128px + 10vw);
}

form label {
    font-size: 0.8rem;
    font-weight: 800;
    color: var(--helper-text);
}

form input {
    border-radius: 0.2rem;
}